body {
    padding: 0;
    margin: 0;
}

.service-container {
    /* background-color: rgb(3, 3, 138); */
    /* color: white; */
    padding: 20px; /* Adjust as needed */
}
.services{
    background-color: blue;
    max-width: 270px;
    color: white;
    border-radius: 25px;
    text-align: center;
  
}

.service {
    display: flex;
    align-items: center;
}

.r1 {
    font-style: oblique;
    color: darkviolet;
}

.service-text {
    display: inline-block;
    margin-right: 10px;
    position: relative; /* Set position to relative */
}

.service-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust as needed */
    width: 100%; /* Cover the whole width */
    height: 1px;
    background-color: red /* Set your underline color */
}

.img1 {
    height: 100px;
    width: 20%;
    border: 1px solid red;
    /* margin-left: auto; Remove this line */
}
.r2
{
    background-color: blue;
    background-position: center ;
    max-width: 670px;
    color: white;
    text-align: center; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 25px;
}
.expertise-container {
    display: flex;
    align-items: center;
  }
  
  .r3 {
    font-style: oblique;
    color: darkviolet;
    margin-right: 5px; /* Adjust as needed */
    margin-bottom: 30px;
  }
  .contact1{
    background-color: blue;
    font-size: large;
    color: white;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    
}
.contact2{
    background-color: blue;
    font-size: large;
    color: white;
    padding-left: 4rem; 
    
}
  .red
  {
    background-color: red;
    color: white;
    max-width: 20px;
  }
  
  
  
  
  

