.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .kid1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    border-radius: 50%;
    z-index: -1;
  }
  
  .kid2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: auto;
    border-radius: 50%;
    z-index: -1;
  }
  
  .content {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    width: 100%; /* Ensure it spans the full width */
    padding: 20px; /* Add padding for better spacing */
}

.logo-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center the items horizontally */
    margin-right: 20px;
    width: 100%; /* Ensure it spans the full width */
}

.slogan {
    text-align: left;
    font-size: 1.5em; /* Increase font size for better visibility */
    font-weight: bold;
    color: #b30606;
    margin-right: 20px; /* Add space between slogan and next item */
    background-color: rgba(6, 240, 240, 0.89);
    border-radius: 10px;
}

.classes {
    font-weight: bold; /* Make class titles bold */
    margin-right: 20px; /* Add space between classes and field */
}

.field {
    color: white;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    max-width: 350px;
    text-align: left; /* Align text to the left */
}




  
  .para {
    border: 1px solid #ccc; /* Rounded border */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 1rem;
    background-color: rgba(128, 128, 128, 0.459);
    text-align: center;
  }
  
  .nep {
    color: red;
    font-weight: bold;
    background-color: #f0f0f0; /* Grey background */
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow cards to wrap */
    margin-top: 20px; /* Added margin to separate from other content */
  }
  
  .card {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    background-color: #e0f2f1; /* Light blue background */
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-icon {
    width: 50px;
    height: 50px;
  }
  